@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

button {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 1em 6em;
  color: hsl(257deg, 40%, 49%);
  -webkit-box-shadow: 1px 0px 11px -1px rgba(0, 0, 0, 0.67);
  box-shadow: 1px 0px 11px -1px rgba(0, 0, 0, 0.67);
  margin-top: 1em;
}
button:hover {
  cursor: pointer;
  background-color: hsl(300deg, 69%, 71%);
  color: white;
}
@media (min-width: 992px) {
  button {
    padding: 1em 4em;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2em;
  gap: 4em;
}
header :nth-child(1) {
  width: 50%;
}
@media (min-width: 992px) {
  header {
    width: 60%;
    margin: 1em;
  }
  header :nth-child(1) {
    width: 30%;
  }
  header :nth-child(2) {
    width: 90%;
  }
}

ul {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
ul li {
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5em;
  border: 1px solid white;
  cursor: pointer;
}
ul li:hover {
  color: hsl(300deg, 69%, 71%);
  border: 1px solid hsl(300deg, 69%, 71%);
}
@media (min-width: 992px) {
  ul {
    position: relative;
    top: 5rem;
    left: 14rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  text-align: center;
  color: white;
  gap: 1.5em;
}
main h1 {
  line-height: 1.5em;
  font-size: 1.5em;
  margin-bottom: 1em;
}
main p {
  font-size: 0.9rem;
  line-height: 1.8em;
  letter-spacing: 1px;
  margin-bottom: 1em;
}
@media (min-width: 992px) {
  main {
    width: 40%;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 1em;
  }
  main div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 1em;
  }
  main h1 {
    text-align: left;
    font-size: 1.9rem;
  }
  main p {
    text-align: left;
    font-size: 0.68rem;
  }
}

body {
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257deg, 40%, 49%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
body .app {
  max-width: 750px;
  max-height: 100vh;
  margin: 0 auto;
}
@media (min-width: 992px) {
  body .app {
    display: flex;
    justify-content: center;
    min-width: 992px;
  }
}