@use "./abstracts/" as *;
@use "./base/" as *;
@use "./components/" as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    .app {
        max-width: 750px;
        max-height: 100vh;
        margin: 0 auto;
    }

    @include medium {
        background-image: url("images/bg-desktop.svg");

        .app {
            display: flex;
            justify-content: center;
            min-width: 992px;
        }
    }
}