@use "../abstracts/" as *;
@use "../base/" as *;

button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 1em 6em;
    color: $violet;
    box-shadow: 1px 0px 11px -1px rgba(0, 0, 0, 0.67);
    margin-top: 1em;

    &:hover {
        cursor: pointer;
        background-color: $magenta;
        color: white;
    }

    @include medium {
        padding: 1em 4em
    }
}