@use "../abstracts/" as *;
@use "../base/" as *;

ul {
    display: flex;
    gap: 1em;
    margin-top: 2em;

    li {
        width: 1em;
        height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0.5em;
        border: 1px solid white;
        cursor: pointer;

        &:hover {
            color: $magenta;
            border: 1px solid $magenta;
        }
    }

    @include medium {
        position: relative;
        top: 5rem;
        left: 14rem;
    }

}