@use "../abstracts/" as *;
@use "../base/" as *;

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    text-align: center;
    color: white;
    gap: 1.5em;

    h1 {
        line-height: 1.5em;
        font-size: 1.5em;
        margin-bottom: 1em;

    }

    p {
        font-size: 0.9rem;
        line-height: 1.8em;
        letter-spacing: 1px;
        margin-bottom: 1em;
    }

    @include medium {
        width: 40%;
        align-items: flex-start;
        justify-content: flex-end;
        margin: 1em;


        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            top: 1em;
        }

        h1 {
            text-align: left;
            font-size: 1.9rem;
        }

        p {
            text-align: left;
            font-size: 0.68rem;
        }
    }
}